<!-- <p>dashboard works!</p>
<div class="table-container" >
 
    <h2>Accounts</h2>
    <table class="customer-table">
      <thead>
        <tr>
          <th>Account Id</th>
          <th>Customer ID</th>
          <th>Balance</th>
          
         
        </tr>
      </thead>
      <tbody> -->
        <!-- <tr *ngFor=""> -->
          <!-- <td>{{ account.accountId}}</td>
          <td>{{ account.customer.customerId }}</td>
          <td>{{ account.balance }}</td> -->
          
           <!-- </tr> -->
      <!-- </tbody>
    </table>
  </div>
  
  <div class="table-container">
    
    <h2>Transactions</h2>
    <table class="customer-table">
      <thead>
        <tr> -->
        
          <!-- <th>Account ID</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody> -->
        <!-- <tr *ngFor="let transaction of transactions$ | async">
         
          <!-- <td>{{ transaction.accounts?.accountId }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.transactionDate | date:'longDate'}}</td> -->
        <!-- </tr> --> 
      <!-- </tbody>
    </table>
  </div> -->

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transactions</h5>
          <!-- <div class="card-header">
            Transactions
          </div> -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Account Id</th>
                <th scope="col">Destination Account</th>
                <th scope="col">Balance</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>moto</td>
                <td>omto</td>
                
              </tr>
              
            </tbody>
          </table>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Accounts</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Account Id</th>
                <th scope="col">Balance</th>
                <!-- <th scope="col">Handle</th> -->
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td >  <button class="task-lis editButton" (click)="viewDetails">View Details</button></td>
            
              </tr>
              
            </tbody>
          </table>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>


  <!-- trying another way of table creation -->

  <!-- <table class="table table-striped table-hover" >
    <thead>
      <tr>
        <th scope="col">Account Id</th>
        <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        
      </tr>
      
    </tbody>
  </table> -->

  <!--  new way-->
  <!-- <div class="card">
    <div class="card-header">
      Accounts
    </div>
    <div class="card-body">
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">Account Id</th>
            <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            
          </tr>
          
        </tbody>
      </table>
    </div>
  </div> -->

  <!-- new way -->
  <!-- <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
    
    <div class="card-header">Accounts</div>
    <div class="card-body">
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">Account Id</th>
            <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            
          </tr>
          
        </tbody>
      </table>
    </div> -->